@model EntryDetailsViewModel

<h1>Eintrag von @Model.AuthorName</h1>
<h2>Über @Model.VisitDate.ToLongDateString()</h2>
<div>Erstellt am: @Model.CreateDate.ToString()</div>
@if (Model.LastEditDate > Model.CreateDate)
{
    <div>Zuletzt bearbeitet am: @Model.LastEditDate.ToString()</div>
}
@if (Model.IsLiked)
{
    <div><a asp-action="RemoveLike" asp-route-id="@Model.EntryId"><img src="~/img/heart-fill.svg" /></a> @Model.NumberOfLikes</div>
}
else
{
    <div><a asp-action="AddLike" asp-route-id="@Model.EntryId"><img src="~/img/heart.svg" /></a> @Model.NumberOfLikes</div>
}
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Zurück</a>
    @if (Model.CanEdit)
    {
        <a asp-action="Edit" asp-route-id="@Model.EntryId" class="btn btn-warning">Bearbeiten</a>
    }
    @if (Model.CanDelete)
    {
        <a asp-action="Delete" asp-route-id="@Model.EntryId" class="btn btn-danger" onclick="return confirm('Eintrag wirklich dauerhaft löschen?')">Löschen</a>
    }
</div>
<br />
<p class="textarea">@Model.Content</p>
