@model EditEntryViewModel

<div class="text-center">
    <h1 class="display-4">Eintrag bearbeiten</h1>
    <div class="col-md-12">
        <form method="post">
            <input hidden asp-for="EntryId" value="@Model.EntryId" />
            <input hidden asp-for="AuthorId" value="@Model.AuthorId" />
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="VisitDate"></label>
                <input asp-for="VisitDate" class="form-control" value="@Model.VisitDate.ToString("yyyy-MM-dd")" min="@Model.DateMin" max="@Model.DateMax" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="5" placeholder="Schreibe etwas ...">@Model.Content</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Aktualisieren</button>
            <a asp-action="Details" asp-route-id="@Model.EntryId" class="btn btn-secondary">Abbrechen</a>
        </form>
    </div>
</div>