@model IEnumerable<EntryDTO>

<div class="text-center">
    <h1 class="display-4">Gästebuch Einträge</h1>
    <div>
        <a asp-action="Create" class="btn btn-primary">Neuen Eintrag erstellen</a>
    </div>
    <br />
    @if (!Model.Any())
    {
        <p>Noch keine Einträge vorhanden.</p>
    }
    <div>
        @foreach (var entry in Model)
        {
            <div class="card" style="margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">@entry.AuthorName am @entry.VisitDate</h5>
                    <h6 class="card-text">@entry.ContentPreview</h6>
                    <a asp-action="Details" asp-route-id="@entry.EntryId" class="btn btn-secondary">Ansehen</a>
                    @if (entry.NumberOfLikes > 0)
                    {
                        <div><img src="~/img/heart-fill.svg" /> @entry.NumberOfLikes</div>
                    }
                </div>
            </div>
        }
    </div>
</div>